// Primary
$Pink: hsl(322, 100%, 66%);
// Neutral
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);


$Open-Sans: 'Open Sans', sans-serif;
$Poppins: 'Poppins', sans-serif;


$desktop: 'min-width: 1000px';
$tablet: 'min-width: 740px';